fastapi==0.115.5
greenlet==3.1.1
uvicorn[standard]==0.32.1
aiohttp==3.11.11
selectolax==0.3.21
sqlalchemy==2.0.36
aiosqlite==0.20.0
alembic==1.14.0
pydantic[email]==2.10.3
pydantic-settings==2.6.1
python-jose[cryptography]==3.3.0
bcrypt==4.0.1
python-multipart==0.0.18
httpx==0.28.1
pillow==11.0.0
python-slugify==8.0.4
aiofiles==24.1.0
beautifulsoup4==4.12.3
requests==2.32.3
